:root {
    --base: #c09f80;
    --spacing: 10px;
    --blur: 10px;
}


*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #76323f;
    color: #d7cec7;
    font-family: 'Julius Sans One', sans-serif;
}


h2 {
    margin: 20px auto;
}

input {
    width: 100px;
}

img {
    margin: 35px auto;
    padding: var(--spacing);
    background-color: var(--base); 
    width: 90vw;
    max-width: 900px;
    filter: blur(var(--blur))
}